.planItemContainer
    position: relative
    border: 2px solid #adb3d8
    float: left
    width: 300px
    height: 350px
    margin: 5%
    border-radius: 15px
    padding: 3%
    width: 40%

.purchaseButton
    position: absolute
    bottom: 20px
    left: 0
    right: 0

.active
    background: #6ad3fb

@media(max-width: 960px)
    .planItemContainer
        width: 80%
