.settingsWrapper
    padding: 2%

.divSectionContainer
    width: 100%
    min-height: 100px
    display: inline-block

.divSettings
    min-height: 100px
    margin: 1%

.halfWidthDiv
    width: 48%
    float: left

@media(max-width: 1024px)
    .halfWidthDiv
        width: 98% !important

.inputContainer
    padding: 30px

.inputContainer>div
    margin-bottom: 20px

.selectContainer
    width: 150px